<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
    </head>

    <body>
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.resulttype.label_tag }} {{ form.resulttype }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile }}
            </p>

            <p>
                {{ form.newaddr.label_tag }} {{ form.newaddr }} {{ form.newaddr.errors }}
            </p>
            <p>
                {{ form.oldaddr.label_tag }} {{ form.oldaddr }}
            </p>
            <p> {{ form.latitude.label_tag }} {{ form.latitude }}</p>
            <p> {{ form.longitude.label_tag }} {{ form.longitude }}</p>

            <p><input type="submit" value="Photo Positioning"/></p>
        </form>

        <!-- gulby -->
        <ul>
            {% for r in results %}
                <li>{{ r }}</li>
            {% endfor %}
        </ul>
    </body>

</html>

